body {
  color: #fff;
  background-color: #363636;
}

.app-wrapper {
  display: grid;

  margin: 0 auto;

  grid-template-areas: 
  "h h"
  "n c"
  "f f";

  grid-template-rows: 60px 1fr 160px;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}

.app-wrapper-content {
  grid-area: c;
  background-color: #600b75;
}

.app-wrapper-footer {
  grid-area: f;
  background-color: #0fff00;
}